*{
   box-sizing: border-box;
}

.loginpage{
   display:flex;
   background-color:whitesmoke;
   height:900px;
}


.loginfacebooktxt{
   color:#0866ff;
   font-size:100px;
   font-family: "Ubuntu", sans-serif;
   margin:170px 0 0 300px;
}

.loginpara{
   color: rgba(0, 0, 0, 0.747);
   font-family: "Ubuntu", sans-serif;
   margin:0 0 0 300px;
}

.loginform{
   background-color: white;
   /* border:1px solid black; */
   margin:150px 0 0 200px;
   height:40%;
   width:66%;
}

.loginemail{
   margin:15px 8px 7px 18px;
   width:330px;
   padding:14px;
   border-radius:8px;
  
}
.loginemail:hover{
   border: blue;
}

.loginpassword{
   margin:5px 8px 7px 18px;
   width:330px;
   padding:14px;
   border-radius:8px;
  
}
.loginpassword:hover{
   border:1px solid blue;
}

.login{
   background-color: #0866ff;
   color:white;
   font-family: "Ubuntu", sans-serif ;
   font-weight: bold;
   font-size:20px;
   margin:10px 8px 7px 18px;
   width:330px;
   padding:10px; 
   border-radius:8px;
  
}

.fpbtn{
  /* margin:8px 0px 0 115px; */
  padding:2.7% 0 6% 31%;
  border-bottom:1px solid gray;
  width:100%;
  font-family: "Ubuntu", sans-serif ;
  font-weight:500;
  color: #0866ff;
  
}

.createaccount{
   background-color:rgb(24, 227, 24);
   /* border:1px solid black; */
   border-radius:8px;
   margin:8px 0px 0 80px;
   width:60%;
   padding:15px 0 15px 40px;
   
}

.createpage{
   margin:10px 0 0 250px;
}