
*{
  background-color:whitesmoke;
  
}

.position {
   top: 35%;
   width: 50%;
   
}

.facebooktxt{
   color: rgb(70, 70, 216);
   
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
   margin: 18px;
   
}

.form{
   

   
   border-radius:4px;

   width: 45%;
   height:330px;
   background-color:white;
  
   
}

.Email{
   margin-top:30px;
   margin-bottom:20px;
   margin-left:15px;
   size-adjust:100px;
   border-radius:4px;
   border:1px solid blue;
    padding:10px;
    width:250px;

}

.password{  
   margin: 0 15px 20px 0;
   size-adjust:100px;
    padding:10px;
    width:250px;
    
    border-radius:4px;
}

.login{  
   margin-bottom:20px;
   margin-left:100px;
   margin-left:15px;
   size-adjust:100px;
    padding:10px;
    width:274px;
    background-color:rgb(54, 54, 225);
    color:white;
    font-size:15px;
    font-weight: bold;
    border:1px solid;
    border-radius:4px;
}

.fpbutton
{  
   margin-bottom:20px;
   margin-left:60px;
   margin-left:15px;
   size-adjust:100px;
    padding:10px;
    width:250px;
    color: rgb(74, 74, 236);
    background-color: white;
    font-weight:500;
    border:1px solid white;
    border-radius:4px;

}


.cabutton{
      margin-bottom:20px;
      margin-left:60px;
     
      size-adjust:100px;
       padding:10px;
       width:180px;
       color:white;
       background-color: rgb(47, 182, 47);
       font-weight: bold;
       border:1px solid;
       border-radius:4px;
   
   }
